<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>****</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div>
			<table class="table table-striped" id="orgValidity">
				<thead>
					<tr>
						<th></th>
						<th>Validity Output</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="validity,status  : ${validity}">
						<td th:text="${status.count}"></td>
						<td th:text="${validity}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>